<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style>
			@media only screen and (max-width: 600px) { .container { font-size: 3vw; }
			} .container{ font-size:2vw; font-family:Georgia, serif; } .backimg{
			max-width: 100%; height: auto; } .mailBody{ text-align: justify;
			text-justify: inter-word; padding:5%; margin-bottom: :5%; }
		</style>
	</head>
	<body>
		<div class="container">
			<img
				class="backimg"
				src="https://api.avarealestate.ae/public/images/cover.webp"
				alt="Background"
			/>
			<div class="mailBody">
				<p class="FullName">
					Dear
					<b>{{name}}</b>,<br /><br />
					AVA Real Estate is pleased to invite you to Open house with Iftar on
					Saturday, 16th, March, 2024.
					<br /><br />Looking forward to see you there.
					<br />Best Regards
					<br /><br />
					<b>Ava Real Estate Team</b><br />
				</p>
			</div>
		</div>
	</body>
</html>